.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #00000033; /* border-black-2 */
  border-radius: 0.5rem; /* rounded-lg */
  width: 91.6667%; /* w-11/12 */
  height: 80%; /* h-3/4 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* shadow-lg */
}

@media (min-width: 768px) {
  .dialog-content {
    width: 100%; /* md:!w-full */
    max-width: 80%;
    padding: 1.5rem; /* md:p-6 */
    height: 80%; /* md:h-11/12 */
  }
}
